


<div class="top-explain">
  <div class="app-title">
    <%= image_tag 'coffee_gif.gif' ,class: "coffee-gif"%>
    <div class="app-text">
      <h3 class="top-explain-title" >Von Voyage!</h3>
      <p class="app-concept">Coffee Passportとはあなたが出会ったコーヒーの記録を共有できるサービスです</p>
    </div>
  </div>
  

    <div class="explain-wrapper">
    <ruby>
      <h3 class="explain-wrapper-title">出会ったコーヒーをシェアしよう</h3>
      <rt class="explain-wrapper-title-en">share your favorite coffee</rt>
    </ruby>


      <p class="explain-wrapper-info">
      出会ったコーヒーの感想を記録して共有しましょう。
      その投稿が、素敵なコーヒーを求めてる誰かのヒントになるでしょう。
      </p>
      <%= image_tag 'post.png',class: "explain-post-img"%>
      
    </div>
    <div class="explain-wrapper">
    <ruby>
      <h3 class="explain-wrapper-title">コーヒーを探す旅へ</h3>
      <rt class="explain-wrapper-title-en">vayage to find coffee</rt>    
    </ruby>

      <p class="explain-wrapper-info">
      お気に入りのコーヒーに出会いたいときは、検索してみましょう。
      コーヒーの名前、コク、酸味、産地、加工法などで検索できます。
      </p>
    </div>
    <div class="explain-wrapper">
    <ruby>
      <h3 class="explain-wrapper-title">素敵なコーヒーがあなたの手元に</h3>
      <rt class="explain-wrapper-title-en">special coffee will come to your house</rt>    
    </ruby>


      <p class="explain-wrapper-info">
        コーヒーを家でも楽しみたいなら、素敵なコーヒーのラインナップを
        取り揃えておりますので、ぜひお求めください。
      </p>
    </div>
     <div class="explain-wrapper">
     <ruby>
      <h3 class="explain-wrapper-title">いいねやコメントで盛り上がろう</h3>
      <rt class="explain-wrapper-title-en">smash that like button and comment </rt>
     </ruby>


      <p class="explain-wrapper-info">
        気に入った投稿に「いいね」を押したり、コメントして
        一杯のコーヒーが生み出すコミュニティに参加しましょう。
      </p>
    </div>   
</div>




<% provide(:title,"Login")%>
<div class="slideshow">
<%= form_with(url: login_path, scope: :session,class: 'registration-main', local: true) do |f| %>

<div class='form-wrap'>
  <div class='form-header'>
    <p class='form-header-text'>
      ログインしてコーヒーの旅へ出かけよう
    </p>
  </div>
   <% flash.each do |message_type, message| %>
    <div class="alert-<%= message_type %>">
      <%= message%>
    </div>
  <% end %>

 
  <div class="form-group">
    <p class="please-checking">
        新しく新規登録した場合は<br>
        メールボックスに承認用のメールが<br>
        届いてるかご確認ください
    </p>
    <div class='form-text-wrap'>
      <%# <label class="form-text">メールアドレス</label>
      <span class="indispensable">必須</span> %>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"メールアドレス", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%# <label class="form-text">パスワード</label>
      <span class="indispensable">必須</span> %>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"パスワード" %>
  </div>
  <div class='login-btn'>
    <%= f.submit "ログイン" ,class:"login-red-btn" %>
  </div>
  
  <div class="signin">
    <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post,class: "guest_login"%>
    <p>アカウントをお持ちでないですか？</p>
    <%=link_to "登録する",new_user_path, class: "signin-path"%>
  </div>
</div>


<% end %>
<%#= link_to "Googleアカウントでログイン", "/users/auth/google_oauth2/callback",method: :post %>
<%#= link_to "Facebookアカウントでログイン", "/auth/facebook" %>
</div>
