      <div class="comments" id="comments-area">
        <% if comments %>
          <% comments.each do |comment| %>
 
             <div class="comment" , id="comment-<%= comment.id%>">
              <div class="comment-user-nav">
                  <%= link_to  "/users/#{comment.user_id}" do %>
                  <% if comment.user.image.attached? %>
                    <%= image_tag comment.user.image,class: "comment-user-img"%>
                  <% else %>
                     <img src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YnJlYXV0aWZ1bCUyMGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" class= 'comment-user-img'>
                  <% end %>
                    <strong class="comment-user-nickname"><%= comment.user.nickname%></strong>
                  <%end %>
              </div>
              <div class="comment-text-and-trash">
                <div class="comment-text">
                  <%= comment.text %>
                </div>
                <%= link_to  drink_comment_path(drink_id: drink.id, id: comment.id),method: :delete ,remote: true,data: { confirm: '本当に削除してよろしいですか？' } do%>
                <i class="far fa-trash-alt"></i>
                <%  end %>
              </div>
            </div>
          <% end %>
        <% else%>
          <h4>まだコメントがありません<br>
          コメントしましょう
          </h4>
        <% end %>
      </div>
