<div class="items-sell-contents">

  <div class="items-sell-main">
    <h2 class="items-sell-title">商品の情報を入力</h2>
    <%= form_with model: @drink,url: drinks_path, local: true do |f| %>


    <%= render 'shared/error_messages', object: f.object %>
    
    <div class="tag-field" , id='tag-field'>
        <%= f.label :tag_name %>
        <%= f.text_field :tag_name %>
    </div>
    <div id="search-result">
    </div>
    <div class="img-upload">
      <div class="weight-bold-text">
        出品画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"item-image" %>
      </div>
    </div>
    
    <div class="new-items">
      <div class="weight-bold-text">
        商品名
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          商品の説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :explain, class:"items-text", id:"item-info", placeholder:"コーヒーの感想（必須 1,000文字まで）",rows:"7" ,maxlength:"1000" %>
      </div>
    </div>

    <div class="price-content">
      <div class="price-text">
        <span>価格</span>
        <span class="indispensable">必須</span>
      </div>
        <span class="sell-yen">¥</span>
      <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例） 1000" %>
    </div>

    (分かる場合はできるだけ書きましょう)
    <div>
      <p> 地域</p>
      <%= f.collection_select(:region_id,Region.all,:id,:name,{},{class: "こんな感じでクラスを設定できます"})%>
    </div>
    <div>
      <p>コク</p>
      <%= f.collection_select(:body,Body.all,:id,:name,{},{class: "こんな感じでクラスを設定できます"})%>
    </div>
    <div>
      <p>酸味</p>
      <%= f.collection_select(:acidity_id,Acidity.all,:id,:name,{},{class: "こんな感じでクラスを設定できます"})%>
    </div>
    <div>
      <p>加工法</p>
      <%= link_to "加工法について","#"%>
      <%= f.collection_select(:processing_id,Processing.all,:id,:name,{},{class: "こんな感じでクラスを設定できます"})%>
    </div>
    
    <div class="sell-btn-contents">
      <%= f.submit "投稿する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>

  </div>
  <% end %>
