<div class='main'>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'></h2>
    <ul class='item-lists'>
      <%# 商品のインスタンス変数になにか入っている場合、中身のすべてを展開できるようにしましょう %>
      <%if @drink%>
      <li class='list'>
        <%= link_to drink_path(@drink.id) do %>
        <div class='item-img-content'>
          <%= image_tag @drink.image , class: "item-img" if @drink.image.attached? %>
          
          <%# if drink.trade%>
          
   
          
          <%# end %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= @drink.name %>
          </h3>
          <div class='item-price'>
            <span><%= @drink.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%# image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
          <div class='item-explain'>
            <%= @drink.explain%>
          </div>
          <div>
            <% if @drink.region %>
            産地 <%= @drink.region.name%>              
            <% end %>
          </div>
          <div>
            <% if @drink.body%>
            コク <%= @drink.body.name %>
            <% end %>
          </div>
          <div>
            <% if @drink.acidity %>
              酸味 <%= @drink.acidity.name%>
            <% end %>
          </div>
          <div>
            <% if @drink.processing%>
              加工法 <%= @drink.processing.name%>
            <% end %>
          </div>
        </div>
        <% if logged_in? && current_user.id == @drink.user_id %>
        <div class="item-delete">
          <%= link_to "削除する",drink_path(@drink),method: :delete %>
        </div>
        <% if @drink.trade%>
        <%= link_to "商品を購入する", drink_trades_path(@drink) %>
        <% end %>
        <% end %>
      </li>
      <%end%>
     
        

    </ul>
    <div class="comment-container">
      <% if logged_in? %>
        <%= form_with(model: [@drink, @comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "5",class: "comment-field" %>
          <br>
          <%= form.submit "SEND",class: "submit-comment" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
              <%= comment.text %>
            </p>
          <% end %>
        <% else%>
          <h4>まだコメントがありません<br>
          コメントしましょう
          </h4>
        <% end %>
    </div>

  </div>
  <%end%>

  </div>
</div>
