
<% provide(:title,"My page")%>
  <div class="user-profile">
    <div class="follow-user">
      <h2 class="user-profile-name"><%= @user.nickname %></h2>
      <% if current_user != @user %>
        <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>

      <% if current_user == @user%>
        <div class="user-account-config">
          <%= link_to user_config_path do%>
            <i class="fas fa-cog"></i>
          <% end %>
        </div>
      <% end %>
    </div>


  <%if @user.image.attached? %>
    <h2><%= image_tag @user.image.variant(resize: '100x100'),class: 'user-profile-img' %></h2>
  <% else %>
    <img src="https://images.unsplash.com/photo-1469334031218-e382a71b716b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YnJlYXV0aWZ1bCUyMGdpcmx8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" class= 'user-profile-img'>
  <% end %>
  </div> 

      <div class="user-edit">
      <% if current_user?(@user) %>
      <i class="fas fa-user-edit"></i><%= link_to "プロフィールを編集",edit_user_path(@user)%>  
      <% end %>
    </div>




<div class="user-info">
  <div class="user-like-post">
    <%= link_to "#{@user.nickname}がいいねした投稿",user_likes_path(@user.id)%>
  </div>
  <div class="purchase-record">
    <%= link_to  "#{@user.nickname}の購入履歴", "/user/purchase_record" %>
  </div>
  <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>

</div>

<%= render 'drinks/drinks_index',drink: @drink,drinks: @drinks,title: @title%>