
<% provide(:title,"My page")%>
  <div class="user-profile">
    <div class="follow-user">
      <h2 class="user-profile-name"><%= @user.nickname %></h2>
      <% if current_user != @user %>
        <div id="follow_form">
        <% if current_user.following?(@user) %>
          <%= render 'unfollow' %>
        <% else %>
          <%= render 'follow' %>
        <% end %>
        </div>
      <% end %>

      <% if current_user == @user%>
        <div class="user-account-config">
          <%= link_to user_config_path do%>
            <i class="fas fa-cog"></i>
          <% end %>
        </div>
      <% end %>
    </div>


  <%if @user.image.attached? %>
    <h2><%= image_tag @user.image.variant(resize: '100x100'),class: 'user-profile-img' %></h2>
  <% else %>
    <img src="https://instagram.fdel2-2.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=instagram.fdel2-2.fna.fbcdn.net&_nc_ohc=s0l7r_rFmQYAX9IB4c9&oh=4d9b567520c4a9e98172a986afa3859b&oe=6028878F&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2" class= 'user-profile-img'>
  <% end %>
  </div> 

      <div class="user-edit">
      <% if current_user?(@user) %>
      <i class="fas fa-user-edit"></i><%= link_to "プロフィールを編集",edit_user_path(@user)%>  
      <% end %>
    </div>




<div class="user-info">
  <div class="user-like-post">
    <%= link_to "#{@user.nickname}がいいねした投稿",user_likes_path(@user.id)%>
  </div>
  <div class="purchase-record">
    <%= link_to  "#{@user.nickname}の購入履歴", "/user/purchase_record" %>
  </div>
  <% @user ||= current_user %>
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    フォロー
  </a>
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    フォロワー
  </a>
</div>
<%= javascript_pack_tag 'hello_vue' %>
</div>

<%= render 'drinks/drinks_index',drink: @drink,drinks: @drinks,title: @title%>