
<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag('favicon.ico')%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css"> 
    <meta name=”viewport” content=”width=device-width, initial-scale=1”>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/jquery.bgswitcher.js"></script>

    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>

  <body id="app">
      

    <%= render  'shared/header'%>
    <div class="main-wrapper">
       <%= yield %>
 
    </div>
        <%#= debug(params) if Rails.env.development? %>
    <footer id="footer">
     <router-view></router-view>
     <navbar></navbar>
     <%# vue.js側でこのタグとコンポーネントを紐付ける %>
      <%#= render 'shared/footer'%>
    </footer>

 <%= javascript_pack_tag 'footer' %>
   
  </body>
</html>

